<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Proven SkinCare Analytics</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/2-col-portfolio.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../static/plugins/elegant_font/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style>
/*body {
  font-family: 'Open Sans', arial, sans-serif;
  color: #494d55;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
table {
    border-collapse: collapse;
    border: 0px solid black;
    width: 100%;
}

th, td {
    border: 0px solid #ddd;
    text-align: center;
    padding: 0px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #3D9970;
    color: white;
    text-align:center;
}
</style>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="http://www.provenanalytics.site/">Home</a></li>
                    <li><a href="./static/blog.html">Blog</a></li>
      <li><a href="./static/aboutme.html">About Me</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                 <li><a href="https://tryproven.com/">About Proven</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    

    <div class="container">

  
  <br> <br>
  <div class="row">
    
    <div class="col-sm-6">
    The review text entered was: <br>
    "{{rslt.newreview|safe}}"<br><br>
    The review sentiment polarity for this review is <h5>{{rslt.sentiment}}</h5><br> The sentiment polarity scale ranges from -1 (strongly negative) to +1 (strongly positive). <br><br>
    The topic distribution for this review is <br>{{rslt.tpks|safe}}
    </div>

    <div class="cta-container">
                        <a class="btn btn-primary btn-cta" href="./static/all.html" target="_blank"><i class="fa fa-eye"></i> View LDA Model</a>
                        <section id="code-section" class="doc-section">
<h2 class="section-title"></h2></section>    
                    </div>
  </div>

  

</div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12" align="center">
                    <!-- <p>Copyright &copy; Abhijit A. Gurjarpadhye, 2017</p> -->
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
